
*{
    box-sizing: border-box;
        margin: 0;
        padding: 0;  
        overflow-x:hiddenyy
    }
body {
    height: 100%;
    background-color: #A0A0A0;
}
@font-face {
    font-family: Roboto; 
    src: url(/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(/Roboto-Black.ttf);
}

.Menu{
    background-color: #304A67;}

  /*botones menú*/  
.button {
        background-color:#036b5a;
        border-radius:28px;
        display:flex;
        cursor:pointer;
        color:#ffffff;
        font-family:Roboto;
        font-size:14px;
        padding:6px 14px;
        text-decoration:none;
        text-shadow:0px 1px 0px #a6d8da;}
.enlaces{
    background-color: #304A67;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;}

.logo{
    background-color: #A6D8DA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

}
p{
    font-size: Roboto;
}
.logo_logotipo{
    width: 70px;
    height: 70px;}

.banner{
    display: flex;
}

.Biografia{
    display: flex;
}

.nosthalgia{
    display: flex;
}

.texto-banner{
    position: absolute;
    top: 300px;
    left: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: RobotoBold;
}
.texto-banner2{
    position: absolute;
    top: 300px;
    right: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: RobotoBold;
}

.bannerimagen{
    width: 100%;
    height: 280px;
}

.nostalgiafondo{
    width: 100%;
    height: 620px;
    opacity: 0.6;

/* SECCIÓN BIOGRAFÍA */
}

.quienes{
    position: absolute;
    top: 460px;
    right: 140px;
    font-size: 20px;
    color: #ffffff;
    font-family: RobotoBold;
}

.fotoperfil{
    position: absolute;
    top: 50px;
    right: -60px;
    height: 130px;
    border: solid #036b5a;
}

.biografia1 p{ 
    position: absolute;
    top: 670px;
    left: 40px;
    color: #ffffff;
font-family: RobotoBold;
font-size: 15px;
}

.biografia2{
    width: 300px;
    position: absolute;
    top: 720px;
    right: 47px;
    color: #ffffff;
font-family: Roboto;
font-size: 15px;   
}

.biografia3{
    width: 300px;
    position: absolute;
    top: 810px;
    right: 47px;
    color: #ffffff;
font-family: Roboto;
font-size: 15px;   
}

.biografia4{
    width: 300px;
    position: absolute;
    top: 900px;
    right: 47px;
    color: #ffffff;
font-family: Roboto;
font-size: 15px;   
}

.filmografia{
    position: absolute;
    top: 1100px;
    right: 105px;
    font-size: 27px;
    color: #ffffff;
    font-family: RobotoBold;
}

.nosthalgia{
    width: 100%;
    height: 600px;
    opacity: 0.6;
}

.fotograma2{
    width: 100%;
    height: 600px;
    opacity: 0.7;
}

/* caratulas de filmografia */

.andreirublev{
    position: absolute;
    width: 150px;
    top: 1150px;
    right: 110px;
    font-size: 13px;
    color: #ffffff;
    font-family: RobotoBold;}
.caratula1{
    position: absolute;
    height: 120px;
    top: 1170px;
    right: 270px;
}

.andreirublev-parrafo{
    color: black;
}

.lainfanciadeivan{
    position: absolute;
    width: 150px;
    top: 1370px;
    right: 110px;
    font-size: 13px;
    color: #ffffff;
    font-family: RobotoBold;}

.caratula2{
    position: absolute;
    height: 118px;
    top: 14px;
    right: 160px;
    }

.Ivan-parrafo{
    color: black;
}

.stalker{
    position: absolute;
    width: 150px;
    top: 1605px;
    right: 110px;
    font-size: 13px;
    color: #ffffff;
    font-family: RobotoBold;}
.caratula3{
    position: absolute;
    height: 126px;
    top: 16px;
    right: 160px;
}
.stalker-parrafo{
    color: black;}

.solaris{
        position: absolute;
        width: 150px;
        top: 1800px;
        right: 110px;
        font-size: 13px;
        color: #ffffff;
        font-family: RobotoBold;}
.caratula4{
        position: absolute;
        height: 125px;
        top: 20px;
        right: 160px;
    }
    
.solaris-parrafo{
        color: black;
    }

    .nostalgia{
        position: absolute;
        width: 150px;
        top: 2062px;
        right: 110px;
        font-size: 13px;
        color: #ffffff;
        font-family: RobotoBold;}
.caratula5{
        position: absolute;
        height: 118px;
        top: 20px;
        right: 160px;
    }
    
.nostalgia-parrafo{
        color: black;
    }
/*botones trailer*/
.buttontrailer{
    background-color:#036b5a;
     border-radius: 2px;
    display:flex;
    cursor:pointer;
    color:#ffffff;
    font-family:Roboto;
    font-size:15px;
    padding:6px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #a6d8da;
}
.trailers{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 1160px;
    width: 650px;
    height: 1200px;}

    /* galeria */
    .galeriatexto{
        position: absolute;
        top: 2280px;
        right: 145px;
        font-size: 27px;
        color: #ffffff;
        font-family: RobotoBold;
    }
.comillas1{
    position: absolute;
        top: 2320px;
        right: 330px;
        font-size: 50px;
        color: #ff0000;
}
.frase1comillas{
    width: 250px;
    position: absolute;
    top: 2340px;
    right: 70px;
    font-size: 15px;
    color: #ffffff;
    font-family: Roboto;
}
.comillas2{
    position: absolute;
        top: 2353px;
        right: 72px;
        font-size: 50px;
        color: #ff0000;
}


.comillas3{
    position: absolute;
        top: 2580px;
        right: 335px;
        font-size: 50px;
        color: #ff0000;}

        .comillas4{
            position: absolute;
                top: 2625px;
                right: 125px;
                font-size: 50px;
                color: #ff0000;
        }


    .frase2comillas{
        width: 290px;
        position: absolute;
        top: 2600px;
        right: 37px;
        font-size: 15px;
        color: #ffffff;
    font-family: Roboto;
}
        


.galeria2 {
    height: 150px;
    top: 2400px;
    width: 260px;
    left: 62px;
    margin:1em auto;
    border: 1px solid #036b5a;
    position: absolute;  
  }
  
  .galeria2 img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .galeria2 input[type=radio] {
    position: relative;
    bottom: -150px;
    left: 162px;
  }
  
  .galeria2 input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria2 input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria2 input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria2 input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }
  
  .galeria2 input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
  }

  .galeria2 input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
  }
  